tasks:
- name: ExampleTask
  run: |
    with self.output().open('w') as fh:
        for i in range(10):
            fh.write('testing\n')
  output: data.txt
- name: MyTask
  requires: ExampleTask
  run: |
    with self.input().open('r') as fh:
        output = fh.readlines()
    with self.input().open('w') as fh:
        for out in output:
            fh.write('123%s456\n' % out[:-1])
