import luigi

{% for task in tasks %}
class {{ task.name }}(luigi.Task):

{%- if task.requires %}
    def requires(self):
        return {{ task.requires }}()
{%- endif %}

{%- if task.run %}
    def run(self):
{%- for line in task.run.split('\n') %}
        {{ line }}
{%- endfor %}
{%- endif %}

{%- if task.output %}
    def output(self):
        return luigi.LocalTarget("{{ task.output }}")
{%- endif %}

{% endfor %}


if __name__ == '__main__':
    luigi.run()
