import luigi
from luigi.contrib.external_program import ExternalProgramTask

{% for task in tasks %}
class {{ task.name }}(ExternalProgramTask):

{%- if task.requires %}
    def requires(self):
        return {{ task.requires }}()
{% endif %}

{%- if task.program_args %}
    def program_args(self):
        return {{ task.program_args }}
{% endif %}

{%- if task.output %}
    def output(self):
        return luigi.LocalTarget("{{ task.output }}")
{% endif %}
{% endfor %}
if __name__ == '__main__':
    luigi.run()
